:root {
    --black: #343434;
    --white: #F7FFF7;
    --dark-blue: #2F3061;
    --yellow: #FFE66D;
    --light-blue: #6CA6C1;
}

html {
    box-sizing: border-box;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--black);
    color: var(--white);
    display: grid;
    height: 100vh;
    place-items: center;
}

.game-board {
    display: grid;
    height: 12rem;
    width: 12rem;
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.game-square {
    border: 1px solid var(--white);
    background-color: var(--black);
    display: grid;
    place-items: center;
}