:root {
    --black: #343434;
    --white: #F7FFF7;
    --dark-blue: #2F3061;
    --yellow: #FFE66D;
    --light-blue: #6CA6C1;
}

html {
    box-sizing: border-box;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--black);
    color: var(--white);
    display: grid;
    height: 100vh;
    place-items: center;
}

main {
    display: grid;
    /* height: 100%; */
    grid-template-rows: 1fr min-content 1fr;
    gap: 1rem;
}

.game-board {
    display: grid;
    /* background-color: var(--dark-blue); */
    grid-row: 2;
    grid-template-columns: repeat(3, 4rem);
    grid-template-rows: repeat(3, 4rem);
    gap: 1rem;
}

.game-square {
    border: 1px solid var(--white);
    box-shadow: 0 .2em 0 0 rgba(0, 0, 0, 0.2);
    background-color: var(--black);
    display: grid;
    place-items: center;
    font-size: 1.6rem;
}

.game-square:hover {
    border-color: var(--yellow);
}

.game-square.pressed {
    box-shadow: 0 0.1em 0 0 rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    transform: translateY(0.1em);
    transition: all 0.1s;
}

.controls {
    /* height: 2rem; */
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 0 -4rem;
}

.controls > p {
    padding: 0.2em;
    border: 1px solid var(--white);
    box-shadow: 0 .2em 0 0 rgba(0, 0, 0, 0.2);
    background-color: var(--black);
    font-family: "Open Sans";
    text-align: center;
    flex: 1 0 0;
}